<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/topBtn.js}"></script>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<style>
	.myDiv{
		margin-left:2%;
		margin-right:2%;
	}
</style>
</head>
<body>
<div class="myDiv">
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand">TMS Application</a>
	  <form class="form" action="#" th:action="@{/tms/logout}">
	    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Logout</button>
	  </form>
	</nav>
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<h1>Welcome <span th:text="${username}"></span>, you are <span th:text="${rolename}"></span></h1>
	<hr>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Create User</button>
	<div class="row">
		<div class="col-md-6">
			<h3>Available Users</h3>
			<table class="table table-bordered table-dark">
				<thead>
					<tr>
						<th>Username</th>
						<th>Role Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user,num: ${users}">
						<form action="#" th:action="@{/tms/updUserMaster}" method="POST" th:object="${EmptyUsers}">
							<td><input class="form-control" type="text" name="username"  th:value="${user.username}" th:attr="value=${user.username}"  disabled></td>
							<td><input class="form-control pp" type="text" name="rolename" th:value="${user.rolename}" th:attr="value=${user.rolename}"  disabled></td>
							<td>
								<input class="form-control" type="hidden" name="password" th:value="${user.password}" th:attr="value=${user.password}">
								<input class="form-control" type="hidden" name="username" th:value="${user.username}" th:attr="value=${user.username}">
								<a th:id="u+${num.count}" class="btn btn-primary form-control text-wrap" onclick="edit(this.id)">Edit</a>
								<input class="form-control" type="submit" name="" th:id="s+u+${num.count}" value="Save" disabled>
							</td>				
						</form>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h3>Roles Available</h3>
			<table class="table table-bordered table-dark">
				<thead>
					<tr>
						<th>Role Name</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="role,num: ${roles}">
						<form action="#" th:action="@{/tms/updRoleMaster}" th:object="${EmptyRoles}" method="post">
							<td><input class="form-control" type="text" name="roleName" th:value="${role.roleName}" th:attr="value=${role.roleName}" disabled></td>
							<td><input class="form-control pp" type="text" name="roleDesc" th:value="${role.roleDesc}" th:attr="value=${role.roleDesc}" disabled></td>
							<td>
								<input class="form-control" type="hidden" name="roleName" th:value="${role.roleName}" th:attr="value=${role.roleName}">
								<a th:id="r+${num.count}" class="btn btn-primary form-control text-wrap" onclick="edit(this.id)">Edit</a>
								<input class="form-control" type="submit" name="" th:id="s+r+${num.count}" value="Save" disabled>
							</td>							
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<!-- Owner details -->
	<div>
		<h3>Owner Detail</h3>
		<table class="table table-bordered table-dark">
			<thead>
				<tr>
					<th>Owner Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>DOB</th>
					<th>LandLine No</th>
					<th>Mobile No</th>
					<th>Gender</th>
					<th>Temporary Address</th>
					<th>Permanent Address</th>
					<th>Pincode</th>
					<th>Occupation</th>
					<th>Pancard</th>
					<th>Address Proof</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="owner,num: ${owners}">
				<form action="#" th:action="@{/tms/updOwnDetail}" th:object="${EmptyOwners}" methos="post">
					<td><input class="form-control" type="text" name="ownerId" th:value="${owner.ownerId}" th:attr="value=${owner.ownerId}" disabled></td>
					<td><input class="form-control pp" type="text" name="fname" th:value="${owner.fname}" th:attr="value=${owner.fname}" disabled></td>
					<td><input class="form-control pp" type="text" name="lname" th:value="${owner.lname}" th:attr="value=${owner.lname}" disabled></td>
					<td><input class="form-control pp" type="text" name="DOB" th:value="${owner.DOB}" th:attr="value=${owner.DOB}" disabled></td>
					<td><input class="form-control pp" type="text" name="landlineNo" th:value="${owner.landlineNo}" th:attr="value=${owner.landlineNo}" disabled></td>
					<td><input class="form-control pp" type="text" name="mobileNo" th:value="${owner.mobileNo}" th:attr="value=${owner.mobileNo}" disabled></td>
					<td><input class="form-control pp" type="text" name="gender" th:value="${owner.gender}" th:attr="value=${owner.gender}" disabled></td>
					<td><input class="form-control text-wrap pp" type="text" name="tempAddr" th:value="${owner.tempAddr}" th:attr="value=${owner.tempAddr}" disabled></td>
					<td><input class="form-control pp" type="text" name="permAddr" th:value="${owner.permAddr}" th:attr="value=${owner.permAddr}" disabled></td>
					<td><input class="form-control pp" type="text" name="pincode" th:value="${owner.pincode}" th:attr="value=${owner.pincode}" disabled></td>
					<td><input class="form-control pp" type="text" name="occupation" th:value="${owner.occupation}" th:attr="value=${owner.occupation}" disabled></td>
					<td><input class="form-control pp" type="text" name="pancardNo" th:value="${owner.pancardNo}" th:attr="value=${owner.pancardNo}" disabled></td>
					<td><input class="form-control pp" type="text" name="addrProofName" th:value="${owner.addrProofName}" th:attr="value=${owner.addrProofName}" disabled></td>
					<td>
						<input class="form-control" type="hidden" name="ownerId" th:value="${owner.ownerId}" th:attr="value=${owner.ownerId}">
						<a th:id="o+${num.count}" class="btn btn-primary form-control text-wrap" onclick="edit(this.id)">Edit</a>
						<input class="form-control" type="submit" name="" th:id="s+o+${num.count}" value="Save" disabled>
					</td>
				</form>
				</tr>
			</tbody>
		</table>
	</div>

<!-- Registration Details -->
	<div>
		<h3>Registration Details</h3>
		<table class="table table-bordered table-dark">
			<thead>
				<tr>
					<th>Application No</th>
					<th>Vehicle No</th>
					<th>Vehicle Id</th>
					<th>Owner Id</th>
					<th>Date of Purchase</th>
					<th>Distributer Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="registration,num: ${registrations}">
				<form action="#" th:action="@{/tms/updRegDetail}" th:object="${EmpltyRegistrations}" method="post">
					<td><input class="form-control pp" type="text" name="appNo" th:value="${registration.appNo}" th:attr="value=${registration.appNo}" disabled></td>
					<td><input class="form-control" type="text" name="vehNo" th:value="${registration.vehNo}" th:attr="value=${registration.vehNo}" disabled></td>
					<td><input class="form-control" type="text" name="vehicleId" th:value="${registration.vehicleId}" th:attr="value=${registration.vehicleId}" disabled></td>
					<td><input class="form-control" type="text" name="ownerId" th:value="${registration.ownerId}" th:attr="value=${registration.ownerId}" disabled></td>
					<td><input class="form-control pp" type="text" name="date" th:value="${registration.date}" th:attr="value=${registration.date}" disabled></td>
					<td><input class="form-control pp" type="text" name="distributerName" th:value="${registration.distributerName}" th:attr="value=${registration.distributerName}" disabled></td>
					<td>
						<input class="form-control" type="hidden" name="vehNo" th:value="${registration.vehNo}" th:attr="value=${registration.vehNo}">
						<input class="form-control" type="hidden" name="vehicleId" th:value="${registration.vehicleId}" th:attr="value=${registration.vehicleId}">
						<input class="form-control" type="hidden" name="ownerId" th:value="${registration.ownerId}" th:attr="value=${registration.ownerId}">
						<a th:id="rd+${num.count}" class="btn btn-primary form-control text-wrap" onclick="edit(this.id)">Edit</a>
						<input class="form-control" type="submit" name="" th:id="s+rd+${num.count}" value="Save" disabled>
					</td>
				</form>
				</tr>
			</tbody>
		</table>
	</div>


<!-- Vehicle Details -->
	<div>
		<h3>Vehicle Details</h3>
		<table class="table table-bordered table-dark">
			<thead>
				<tr>
					<th>Vehicle Id</th>
					<th>Vehicle Type</th>
					<th>Engine No</th>
					<th>Model No</th>
					<th>Vehicle Name</th>
					<th>Vehicle Color</th>
					<th>Manufacturer Name</th>
					<th>Manufacturer Date</th>
					<th>No of Cylinder</th>
					<th>Cubic Capacity</th>
					<th>Fuel Used</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vehicleDetail,num: ${vehicleDetails}">
				<form action="#" th:action="@{/tms/updVehDetail}" th:object="${EmptyVehicleDetails}" method="post">
					<td><input class="form-control" type="text" name="vehId" th:value="${vehicleDetail.vehId}" th:attr="value=${vehicleDetail.vehId}" disabled></td>
					<td><input class="form-control pp" type="text" name="vehType" th:value="${vehicleDetail.vehType}" th:attr="value=${vehicleDetail.vehType}" disabled></td>
					<td><input class="form-control pp" type="text" name="EngineNo" th:value="${vehicleDetail.EngineNo}" th:attr="value=${vehicleDetail.EngineNo}" disabled></td>
					<td><input class="form-control pp" type="text" name="modelNo" th:value="${vehicleDetail.modelNo}" th:attr="value=${vehicleDetail.modelNo}" disabled></td>
					<td><input class="form-control pp" type="text" name="vehName" th:value="${vehicleDetail.vehName}" th:attr="value=${vehicleDetail.vehName}" disabled></td>
					<td><input class="form-control pp" type="text" name="vehColor" th:value="${vehicleDetail.vehColor}" th:attr="value=${vehicleDetail.vehColor}" disabled></td>
					<td><input class="form-control pp" type="text" name="manufacturerName" th:value="${vehicleDetail.manufacturerName}" th:attr="value=${vehicleDetail.manufacturerName}" disabled></td>
					<td><input class="form-control pp" type="text" name="manufacturerDate" th:value="${vehicleDetail.manufacturerDate}" th:attr="value=${vehicleDetail.manufacturerDate}" disabled></td>
					<td><input class="form-control pp" type="text" name="noOfCyl" th:value="${vehicleDetail.noOfCyl}" th:attr="value=${vehicleDetail.noOfCyl}" disabled></td>
					<td><input class="form-control pp" type="text" name="cubicCapacity" th:value="${vehicleDetail.cubicCapacity}" th:attr="value=${vehicleDetail.cubicCapacity}" disabled></td>
					<td><input class="form-control pp" type="text" name="fuelUsed" th:value="${vehicleDetail.fuelUsed}" th:attr="value=${vehicleDetail.fuelUsed}" disabled></td>
					<td>
						<input class="form-control" type="hidden" name="vehId" th:value="${vehicleDetail.vehId}" th:attr="value=${vehicleDetail.vehId}">
						<a th:id="vd+${num.count}" class="btn btn-primary form-control text-wrap" onclick="edit(this.id)">Edit</a>
						<input class="form-control" type="submit" name="" th:id="s+vd+${num.count}" value="Save" disabled>
					</td>
				</form>
				</tr>
			</tbody>
		</table>
	</div>

<!-- Offence Details -->
	<div>
		<h3>Offence Details</h3>
		<table class="table table-bordered table-dark">
			<thead>
				<tr>
					<th>Vehicle No</th>
					<th>Image</th>
					<th>Vehicle Detail Id</th>
					<th>Offence Status</th>
					<th>Offence Id</th>
					<th>Time</th>
					<th>Place</th>
					<th>Reported By</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="offenceDetail,num: ${offenceDetails}">
				<form action="#" th:action="@{/tms/updOffDetail}" th:object="${EmptyOffenceDetails}" method="post">
					<td><input class="form-control" type="text" name="vehNo" th:value="${offenceDetail.vehNo}" th:attr="value=${offenceDetail.vehNo}" disabled></td>
					<td><input class="form-control pp" type="text" name="image" th:value="${offenceDetail.image}" th:attr="value=${offenceDetail.image}" disabled></td>
					<td><input class="form-control" type="text" name="offenceDetId" th:value="${offenceDetail.offenceDetId}" th:attr="value=${offenceDetail.offenceDetId}" disabled></td>
					<td><input class="form-control pp" type="text" name="offenceStatus" th:value="${offenceDetail.offenceStatus}" th:attr="value=${offenceDetail.offenceStatus}" disabled></td>
					<td><input class="form-control" type="text" name="offenceId" th:value="${offenceDetail.offenceId}" th:attr="value=${offenceDetail.offenceId}" disabled></td>
					<td><input class="form-control pp" type="text" name="time" th:value="${offenceDetail.time}" th:attr="value=${offenceDetail.time}" disabled></td>
					<td><input class="form-control pp" type="text" name="place" th:value="${offenceDetail.place}" th:attr="value=${offenceDetail.place}" disabled></td>
					<td><input class="form-control pp" type="text" name="reportedBy" th:value="${offenceDetail.reportedBy}" th:attr="value=${offenceDetail.reportedBy}" disabled></td>
					<td>
						<input class="form-control" type="hidden" name="vehNo" th:value="${offenceDetail.vehNo}" th:attr="value=${offenceDetail.vehNo}">
						<input class="form-control" type="hidden" name="offenceDetId" th:value="${offenceDetail.offenceDetId}" th:attr="value=${offenceDetail.offenceDetId}">
						<input class="form-control" type="hidden" name="offenceId" th:value="${offenceDetail.offenceId}" th:attr="value=${offenceDetail.offenceId}">
						<a th:id="od+${num.count}" class="btn btn-primary form-control text-wrap" onclick="edit(this.id)">Edit</a>
						<input class="form-control" type="submit" name="" th:id="s+od+${num.count}" value="Save" disabled>
					</td>
				</form>
				</tr>
			</tbody>
		</table>
	</div>

<!-- Offences List -->
	<div>
		<h3>Offences List</h3>
		<table class="table table-bordered table-dark">
			<thead>
				<tr>
					<th>Offence Id</th>
					<th>Offence Type</th>
					<th>Penalty</th>
					<th>Vehicle Type</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="offence,num: ${offences}">
				<form action="#" th:action="@{/tms/updOffence}" th:object="${EmptyOffences}" method="post">
					<td><input class="form-control" type="text" name="id" th:value="${offence.id}" th:attr="value=${offence.id}" disabled></td>
					<td><input class="form-control pp" type="text" name="offenceType" th:value="${offence.offenceType}" th:attr="value=${offence.offenceType}" disabled></td>
					<td><input class="form-control pp" type="text" name="penalty" th:value="${offence.penalty}" th:attr="value=${offence.penalty}" disabled></td>
					<td><input class="form-control pp" type="text" name="vehicleType" th:value="${offence.vehicleType}" th:attr="value=${offence.vehicleType}" disabled></td>
					<td>
						<input class="form-control" type="hidden" name="id" th:value="${offence.id}" th:attr="value=${offence.id}">
						<a th:id="of+${num.count}" class="btn btn-primary form-control text-wrap" onclick="edit(this.id)">Edit</a>
						<input class="form-control" type="submit" name="" th:id="s+of+${num.count}" value="Save" disabled>
					</td>
				</form>
			</tbody>
		</table>
	</div>

	<!--Model data -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          	<span aria-hidden="true">&times;</span>
		        </button>
		    </div>
		    <div class="modal-body">
		       	<form action="#" th:action="@{/tms/addUser}" method="POST" th:object="${EmptyUsers}">
		       		<div class="row">
		       			<div class="col-md-12">
		       				<input class="form-control" type="text" th:field="*{username}" placeholder="User Name">
		       			</div>
		       		</div>
		       		<br>
		       		<div class="row">
		       			<div class="col-md-12">
		       				<select name="" class="form-control" th:field="*{rolename}">
		       					<option th:value="ADMIN">Admin</option>
		       					<option th:value="POLICE">Police</option>
		       					<option th:value="RTO">RTO</option>
		       					<option th:value="CLERK">Clerk</option>
		       				</select>
		       			</div>
		       		</div>
		       		<div class="modal-footer">
				        <button type="button" class="btn btn-secondary form-control" data-dismiss="modal">Close</button>
				        <input class="form-control" type="hidden" name="password" th:field="*{password}">
				        <input class="form-control btn btn-primary" type="submit" name="" value="Save Changes">
				    </div>
		       	</form>
		    </div>
	    </div>
	  </div>
	</div>




</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>